@font-face {
  font-family: 'playfairb';
  src: url(static/PlayfairDisplay-Bold.ttf);
}
@font-face {
  font-family:'monts' ;
  src: url(czcionki/static/Montserrat-Medium.ttf);
}
html {
  scroll-behavior: smooth ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 2em;
}
  
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #FFFFFF;
    width: 75%;
    margin: auto;
    text-align: justify;
    font-family: 'monts';
}
  
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 3%, rgba(173,216,230,1) 45%, rgba(255,255,255,1) 97%);
    width: 100%;
}
.logo1 img{
  height: 75px;
}
.logo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.logo {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #333;
  font-size: 36px;
  font-weight: bold;
}

.logo:before,
.logo:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: transform 0.3s ease-out;
}

.logo:before {
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.logo:after {
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
}

.logo:hover:before {
  transform: scaleX(1);
}

.logo:hover:after {
  transform: scaleX(1);
}
h1 {
    font-size: 34px;
    font-weight: bold;  
    font-family: 'playfairb';
}
  
nav {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
  
nav ul {
    display: flex;
    list-style: none;
}
  
nav li {
    margin-right: 20px;
}
  
nav a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
    object-fit: cover;
    position: relative;
    transition: transform .3s ease;
}
  
nav a:hover {
    background-color: #ddd;
    transform: scale(1.2);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
  
nav a.active {
    background-color: #ddd;
}
  

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: 
    2px 2px 4px rgba(0.4, 0.4, 0.4, 0.4), 
    -2px -2px 4px rgba(255, 255, 255, 0.4);
}
  
h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
}

footer{
  text-align: center;
  border-top: solid #333 2px;
  background-color: #333;
  color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
table {
  font-family: arial, sans-serif;
  width: 100%;
  border-radius: 10px;
  box-shadow: 
  2px 2px 4px rgba(0.4, 0.4, 0.4, 0.4), 
  -2px -2px 4px rgba(255, 255, 255, 0.4);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-radius: 10px;
}

th{
  background-color: #3CB371;
}
iframe{
  border-radius: 10px;
  display: flex;
  margin: auto;
  box-shadow: 
  2px 2px 4px rgba(0.4, 0.4, 0.4, 0.4), 
  -2px -2px 4px rgba(255, 255, 255, 0.4);
}

.napisanimacja h1 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation:
  typing 3.5s steps(40, end),
  blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  10% { border-color: orange }
}
a.link {
  text-decoration: none;
  color: #333;
}

a.visited {
  text-decoration: none;
  color: #333;
}

a.hover {
  text-decoration: underline;
  color: #333;
}

a.active {
  text-decoration: underline;
  color: #333;
}
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  border-spacing: 50px;
  text-align: center;
}

.galeria img{
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.galeria_2 {
  width: 30%;
}

.podzdjeciami{
  text-align: center;
}
.galeria{
  box-shadow: none;
}

.lewy_div{
  width: 50%;
  transition: all 0.5s ease-in-out;
}
.prawy_div{
  width: 50%;
}
.mail{
  width: 75%;
  height: 10%;

}
.mail input{
  width: 50%;
  height: 30px;
}

.tekst textarea{
  width: 75%;
  height: 100px;
  padding: 5px;
}
#przycisk{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  transition: background-color 0.3s;
  object-fit: cover;
  position: relative;
  transition: transform .3s ease;
}
#przycisk:hover{
  background-color: #ddd;
  transform: scale(1.2);
  border-radius: 10px;
}
.lewy_div:hover{
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
}
.back{
  border:#333;
  position: fixed;
  top: 90%;
  right: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  transition: background-color 0.3s;
  object-fit: cover;
  transition: transform .3s ease;
} 
.back:hover{
background-color: #3b8d3e;
color: white;
background-color: #ddd;
transform: scale(1.2);
border-radius: 10px;
}
.back a:link{
  color: white;
  text-decoration: none;
}
.back a:visited{
  color: white;
  text-decoration: none;
}
